*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #000000;
  --main-white: #ffffff;
  --secondary-black: #343434;
  --third-black: #292929;
  --fourth-black: #404040;
  --fifth-black: #4b4b4b;
  --sixth-black: #3e3e3e;
  --main-gray: #9e9e9e;
  --main-yellow: #ffd83b;
  --secondary-yellow: #fecf01;
  --main-blue: #099ce8;
  --secondary-blue: #c5dcff;
  --secondary-blue-active: #6ba6ff;
  --third-blue: #d9e8ff;
  --main-purple: #7553ff;
  --border-gray: #828282;
  --background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: var(--main-black);
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  background-color: var(--main-white);
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  height: 370px;
  display: flex;
  border: 0.3px solid var(--border-gray);
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 60px;
}

.block-img {
  width: 470px;
  position: relative;
}

.label-1::before {
  content: "НОВИНКА";
  height: 45px;
  background-color: var(--main-blue);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  top: 45px;
  color: var(--main-white);
  font-size: 16px;
  font-weight: 600;
}

.label-2::before {
  content: "КРУГЛЫЙ ГОД";
  height: 45px;
  background-color: var(--main-yellow);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  top: 60px;
  color: var(--secondary-black);
  font-size: 16px;
  font-weight: 600;
}

.label-3::before {
  content: "НОВИНКА";
  height: 45px;
  background-color: var(--main-purple);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  color: var(--secondary-black);
  font-size: 16px;
  font-weight: 600;
  color: var(--main-white);
}

.block-img > img {
  height: 100%;
  width: 100%;
}

.block-info {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 0;
}

.info-header {
  width: 530px;
  font-size: 26px;
  line-height: 34px;
}

.info-time {
  padding: 10px 0;
}

.info-time,
.icon-Clock {
  color: var(--main-gray);
  font-size: 14px;
  line-height: 20px;
}

.icon-Clock::before {
  padding-right: 6px;
  position: relative;
  top: 1px;
}

.info-list {
  font-size: 18px;
  line-height: 20px;
  color: var(--secondary-black);
}

.list-item:not(:last-child) {
  padding-bottom: 10px;
}

.icon-Check::before {
  padding-right: 14px;
  font-size: 10px;
  color: var(--secondary-yellow);
  position: relative;
  bottom: 2px;
  font-weight: 600;
}

.li-time {
}

.time-choose:not(:last-child) {
  margin-right: 6px;
}

.time-choose {
  width: 73px;
  height: 28px;
  color: var(--secondary-black);
  background-color: var(--secondary-blue);
  border-radius: 11px;
  font-size: 18px;
  line-height: 20px;
}

.time-choose.active {
  color: var(--main-white);
  background-color: var(--secondary-blue-active);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.info-footer {
  display: flex;
  height: 50px;
  margin-top: 24px;
}

.footer-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-main {
  font-size: 36px;
  line-height: 20px;
}

.price-main > .icon-Rubl {
  font-size: 26px;
  padding-left: 8px;
  position: relative;
  bottom: 1px;
}

.price-second {
  font-size: 14px;
  line-height: 20px;
}

.price-second > .icon-Rubl {
  font-size: 10px;
  padding-left: 4px;
  position: relative;
  bottom: 1px;
}

.footer-button {
  margin-left: 14px;
  width: 187px;
  height: 52px;
  background-color: var(--main-yellow);
  font-size: 18px;
  line-height: 20px;
  border-radius: 23px;
}

@media (max-width: 1110px) {
  .block {
    width: 345px;
    height: 100%;
    flex-direction: column;
  }

  .block-img {
    height: 284px;
    width: 345px;
  }

  .block-info {
    display: flex;
    flex-direction: column;
    padding: 12px 14px 0;
  }

  .info-time {
    order: -1;
  }

  .info-header {
    width: 315px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--fourth-black);
  }

  .info-list {
    font-size: 14px;
    line-height: 20px;
    color: var(--fifth-black);
  }

  .time-choose {
    width: 63px;
    height: 24px;
    color: var(--secondary-black);
    background-color: var(--third-blue);
    border-radius: 11px;
    font-size: 14px;
    line-height: 20px;
  }

  .li-time {
    display: flex;
    margin-top: 7px;
    justify-content: flex-end;
  }

  .info-footer {
    height: 44px;
    margin-top: 35px;
    margin-bottom: 19px;
    justify-content: space-between;
  }
  
  .price-main {
    font-size: 30px;
  }
  
  .price-main > .icon-Rubl {
    font-size: 22px;
    padding-left: 6px;
  }
  
  .price-second {
    font-size: 10px;
  }
  
  .price-second > .icon-Rubl {
    font-size: 6px;
    padding-left: 2px;
  }
  
  .footer-button {
    margin-left: 14px;
    width: 165px;
    height: 44px;
    background-color: var(--main-yellow);
    font-size: 14px;
    border-radius: 20px;
  }
}
